/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.text-icon  .fl-module-content .storename li .address::before{
    content: "\ea7d";
    font-family: 'Ultimate-Icons' !important;
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}
.fl-page{
	width: auto;
}
.gform_wrapper h2.gform_submission_error {
    font-size: 12px!important;
}
.zindex2 {
    z-index: 2; 
    position: relative;
}
.facet_filters .facet-wrap>strong {
    border-bottom: 2px solid #3485A6!important;
    color: #3485A6!important;
}
.rmp-menu-additional-content .phone a {
    color: #fff;
}
.row.search-row {
    max-width: 1200px!important;
    margin: 0 auto;
}
.LocRow .storename li .phone a span:before {
    content: ""!important;
}
.fl-row-fixed-width {
    width: 100%!important;
}
.product-colors li.colors {
    margin-left: 5px!important;
}
.hovCol a:hover span, .hovCol a:hover p {
    color: #3485a6!important;
}
.getStarted .uabb-imgicon-wrap .uabb-image-content img{
    box-sizing: content-box!important;
	border-radius: 0px;
}
.below.hour_minute_colon {
    padding-top: 20px!important;
}
legend {
    border: transparent!important;
}
.product-detail-layout-6 .dual-button a {
    background-color: #3485A6!important;
    color: #fff;
    font-family: Spartan, sans-serif;
    font-weight: 600;
    text-transform: uppercase!important;
    border-radius: 0px!important; 
    line-height: 1.4em!important;
    border: none!important;
}
.product-detail-layout-6 .dual-button a:hover {
    background-color: #000!important;
    line-height: 1.4em!important;
    border: none!important;
}
.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: 0px;
    padding: 5px 20px;
}
.custom_searchHeader .fl-icon {
    cursor: pointer;
}
.fl-sidebar input.fl-search-input.form-control {
    height: 50px;
    border-radius: 0px!important;
}
.gform_wrapper .ginput_container.ginput_container_checkbox input{
    vertical-align: top;
    margin-top: 3px;
}
.gfield_captcha_input_container input {
    max-width: 80px!important;
}
.row.fl-post-image-beside-wrap .fl-post-content-beside {
    width: 100%!important;
		display: block;
}
.fl-post .fl-post-image-beside {
    float: none;
    margin-right: 0px;
}
.row.fl-post-image-beside-wrap {
    margin: 0px!important;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1{
    text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p{
    display:inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a{
    width: 200px; 
}



div.gform_wrapper .gfield_time_ampm select {
    max-width: 8rem!important;
    width: calc(5rem + 20px) !important;
    -webkit-appearance: none;
    background-image: url('https://assuredflooring.ca/wp-content/uploads/2020/01/drop-down-arrow.png');
    background-position: 91%;
    background-size: 8px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    max-width: 8rem!important;
}
.storename li .phone a span:before,
footer .storename li .phone a span:before{
    font-size: 18px;
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
footer .storename li .phone a span:before{
    font-size: 18px !important;
    margin-right: 14px;
}
footer .storename li .phone a span{
    font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #fff;
}
footer .storename{
    padding-left: 10px !important;
}
footer .fa-phone-alt{
    display: none;
}
footer .fl-module-content .storename li .address a{
    color:#fff;
}
footer .fl-module-content .storename li .address a:hover{
    color: #F6BA14;
}
footer .phone a:hover span, ul.social-icons li a:hover i, footer .fl-heading a:hover span {
    color: #F6BA14!important;
}
.fl-row-content-wrap img.uabb-photo-img {
    border-radius: 0px;
}
.fl-module-content .fl-rich-text .message a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #000;
}
.store-opening-hrs-container ul.store-opening-hrs li{
padding: 10px 10px 10px 10px;
list-style: none;
}
div.text,
div.number{
    display: inline-block;
}
ul.social-icons {
    text-align: center;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px !important;
}
footer .storename li .phone a:before{
    content: " ";
    display: none;
}
.footermenu li.menu-item a{
    font-size: 14px;
    line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before{
    font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn{
  transition:all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover{
    transition:all 0.3s;
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover i.ua-icon-arrow-down:before{
    font-size: 1em;
}

/* Custome start here  */

.contentCol {
    margin-right: -120px;
    z-index: 1;
    margin-top: -75px;
	margin-bottom: 75px;
}
/* Location row css  */
.LocRow  .direction a {
    color: #000!important;
    background-color: #fff;
    max-width: 220px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
.LocRow  .direction a span {
    color: #000;    
}

.LocRow p.inline_address a:hover {
    color: #000;
}
.LocRow .storename .phone  a:hover {
    color: #000;
}
.copyRightRow .fl-rich-text p {
    margin: 0px!important;
}
ul.storename {
    padding: 0px!important;
}
.brandRow .uabb-image-carousel-item {
    filter: drop-shadow(0px 1px 2px rgba(0,0,0,.3));
}
ul.store-opening-hrs {
    padding: 0px!important;
}
ul.store-opening-hrs li span {
    float: right;
}
ul.store-opening-hrs li {
    max-width: 300px;
}

/* PDP page image issue css start here  */
.container .row .product-detail-layout-6 #product-images-holder>div {
        background-image: none!important; 
}
.container .row .product-detail-layout-6 #product-images-holder>div.toggle-image {
        background-image: none!important;
        display: flex;
        align-items: center; 
        justify-content: center;   
}
.container .row .product-detail-layout-6 #product-images-holder>div.show {
        background-image: none!important;
        display: flex;
        align-items: center; 
        justify-content: center;   
}
.container .row .product-detail-layout-6 #product-images-holder>div img{
        display: block;
        min-height: auto;
        width: auto!important;
        margin: 0 auto;
}

.product-detail-layout-6 .slide.selected-slide:after {
    display: none!important;
}
.product-detail-layout-6 .slide.selected-slide a:after {
    content: ""!important;
    background-image: url(./inc/PDP_check_icon.png)!important;
    height: 38px!important;
    width: 38px!important;
    background-repeat: no-repeat!important;
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%,-50%);
    z-index: 9;
}
.product-detail-layout-6 .slide.selected-slide a {
    display: block;
    position: relative;
}
/* PDP page image issue css end here  */

.rmp-menu .rmp-menu-item-link {
    text-transform: uppercase;
}
.gform_fileupload_rules {
    text-align: left!important;
}
/* Custome end here  */
@media (max-width:1400px) and (min-width: 992px){ 
body .fl-page-content h2.uabb-infobox-title, .fl-page-content h2 {
    font-size: 40px!important;
}
}
	
@media (max-width: 1200px){ 
	.hide1200 {
		display: none!important;
	}
}
@media (max-width:1200px) and (min-width: 992px){ 
	.flooringCat h5.uabb-infobox-title {
		font-size: 18px!important;
	}
	.flooringCat .uabb-infobox-text p {
		line-height: 1.2em!important;
	}
}
@media (max-width:1024px){
	.hide1024 {
		display: none!important;
	}
	.locationCol .fl-col-content{
		padding: 0px 20px!important;	
	}
    .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
    .fl-page-nav-right.fl-page-header-fixed, .fl-page-header-fixed{
        display: none !important;
    }
    #responsive-menu-container div#responsive-menu-additional-content,
    #responsive-menu-container div#responsive-menu-search-box{
        padding: 5px 5%;
    }
    #responsive-menu-additional-content .storename li .phone a:before{
        margin-right: 5px !important;
    }
}
@media (max-width: 992px){ 
	
	#rmp_menu_trigger-1553486 {
		top: 45px!important;
	}
	.tabCenter .uabb-module-content{
		text-align: center;
	}
	.tabCenter .uabb-module-content{
		text-align: center;
	}
	.copyRightRow ul#menu-footer-copy-right-bar-menu {
		text-align: center!important;
	}
	.MobImgCenter .uabb-module-content.uabb-imgicon-wrap .uabb-image {
		text-align: center!important;
	}
}
@media (max-width:768px){
		
	.gfield_captcha_container {
		text-align: left!important;
	}
	.contentCol {
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.Logo img {
		max-width: 200px!important;
		margin-left: 0;
	} 
	.Logo {
		margin-left: 0;
	} 
	#rmp_menu_trigger-1553486 {
		top: 20px!important;
	}
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
	.fl-row-content-wrap {
		text-align: center;
	}
	.fl-fade-in.fl-animated p,
	.uabb-gf-style .gform_wrapper .gform_footer{
		text-align: center !important;
	}
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 80%;
    }
    .footer-menu .fl-col-small{
        width: 25% !important;
        float: left;
        clear: none;
    }
    ul#menu-copyright-bar-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copyright-sec-row .fl-col-small{
        width: 100%;
        text-align: center;
    }
    .copyright-sec-row .fl-col-small:first-child .fl-module-html .fl-module-content.fl-node-content{
        margin-top: 20px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
        font-size: 14px;
    }
    footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content{
        margin: 0px 10px;
    } 
    footer .fl-icon-text{
        padding-left: 0px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap span{
        padding-right: 15px;
    }
    /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
    .d-block .fl-row-fixed-width  .fl-col-group-equal-height{
        display: block;
    }
    .fl-builder-content .fl-button i.fl-button-icon-after {
        margin-left: -8px;
    }
    .w-100{
        width: 100%;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
        float: none;
    }
    .max-width-issue > .fl-col-content.fl-node-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .reversed .fl-col-group-responsive-reversed{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0 0 0;
    }
    button#responsive-menu-button {
        top: 60px;
    }
    .uabb-photo__gallery-filters li{
        display: block;
    }
    .gform_wrapper .gfield_time_hour i{
        margin-top: 0% !important;
    }
    .rc-anchor-normal .rc-anchor-pt {
        right: 32px !important;
    }
    .rc-anchor-normal {
        width: 300px !important;
    }
    footer .storename{
        padding-left: 0 !important;
    }
    /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
	.max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 0px;
    padding-right: 0px;
}
}
@media (max-width:767px){
    .footer-menu .fl-col-small{
        width: 100% !important;
    }

    .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
        max-width: 10rem!important;
        width: calc(4rem + 20px) !important;
    }
}


@media screen and (max-width: 700px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 50px;
    }
}

@media screen and (max-width: 630px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 70px;
    }
}

@media screen and (max-width: 600px){
    ul#menu-copyright-bar-menu{
        flex-direction: column;
    }
    div.fl-module-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
        height: 335px;
        margin-bottom: 20px;
    }
    .fl-builder-content div.our-services{
        width: 100% !important;
    }
    .fl-builder-content div.our-services .fl-col-content {
        border-right-width: 0px;
        border-bottom-width: 1px;
    }
}
@media screen and (max-width: 410px){
    button#responsive-menu-button.responsive-menu-accessible {
        width: 35px;
        height: 35px;
    }
    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 11px;
    }
}
@media screen and (max-width: 378px){

    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 10px;
    }
}
@media screen and (max-width: 374px){
    button#responsive-menu-button.responsive-menu-accessible{
        top: 10px;
    }
    .fl-page-bar{
       display: none;
    }
}